$primary-color: #F77833;
$secondary-color: #f0f0f0;
$text-color: #424242;

// Шрифты
$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;

// Отступы
$padding-base: 20px;
$margin-base: 24px;